body{
    background-color: white;
}
.frm{
    margin-top: 2%;
    margin-left: 20%;
    border: 2px solid gray;
    box-shadow: 1px 1px 1px 1px gray;
    height: 90vh;
    width: 60%;
    position: sticky;
}
h1{
    margin-top: -1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lgin {
    text-align: center;
}
.lgin p{
    margin-top: -3.5%;
}
.email {
    text-align: center;
}
.email input{
    position: sticky;
    margin-top: -2%;
    width: 65%;
    height: 6vh;
    padding-left: 5px;
    border-radius: 10px;
    border-color: gray;
}
.pswd{
    text-align: center;
}
.pswd input{
    position: sticky;
    margin-top: -2%;
    width: 65%;
    height: 6vh;
    padding-left: 5px;
    border-radius: 10px;
    border-color: gray;
}
.chbox{
    display: flex;
        margin-left: 16%;
}
.chbox input{
    position: sticky;
    width: 3%;
}
.chbox p{
    font-size: small;
}
.chbox a{
    text-decoration: none;
    color: #1b75bc;
    margin-top: 2%;
    margin-left: 38.5%;
    font-size:small;
}
.btn button{
    position: sticky;
    width: 68%;
    height: 5vh;
    margin-left: 15.5%;
    text-align: center;
    background-color: #1b75bc;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    border-radius: 8px;
    border: none;
}
.brd{
    border: 1px solid;
    border-color: gray;
    margin-top: 5%;
    width: 40%;
    margin-left: 30.5%;
}
.border p{
    margin-left: 40.5%;
    margin-top: -2.2%;
    background-color: white;
    width: 18.5%;
    padding-left: 5px ;
}
.glebrd{
    position: sticky;
    border: 1px solid;
    border-radius: 30px;
    height: 8vh;
    width: 8.5%;
    margin-left: 25%;
}
.image{
    display: flex;
}
.gle{
    width: 59%;
    margin-left: 17%;
    margin-top: 7.5%;
}
.fbbrd{
    border: 1px solid;
    border-radius: 10px;
    height: 8vh;
    width: 8.5%;
    margin-left: 11.1%;   
    position: sticky;
}
.fbok{
    width: 77%;
    margin-left: 10%;
    margin-top: 3.1%;
}
.aplebrd{
    border: 1px solid;
    border-radius: 10px;
    height: 8vh;
    width: 8.5%;
    margin-left: 14.1%; 
    position: sticky;
}
.aple{
    width: 77%;
    height: 7.5vh;
    margin-left: 10%;
    margin-top: 3.1%;
}
.signup{
    display: flex;
    margin-left: 35%;
    font-size: small;
}
.signup a{
    text-decoration: none;
    margin-top: 3%;
    color: #1b75bc;
}



@media screen and (max-width:985px) {
    body{
        background-color: white;
    }
    p{
        color: gray;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    a{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .frm{
        margin-top: 20%;
        margin-left: 3%;
        position: sticky;
        box-shadow: none;
        border: none;
        width: 95%;
        position: sticky;
    }
    .lgin h1{
         text-align: left;
         font-size: 300%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
     .lgin p{
        text-align: left;
        margin-top: -9%;
     }
     .email{
        text-align: left;
     }
     .email input{
        width: 90%;
        height: 4vh;
        margin-top: -2%;
        border-radius: 8px;
        border-color: gray;
        padding-left: 4%;
        position: sticky;
     }
     .email p{
        margin-top: 7%;
     }
     .pswd{
        text-align: left;
     }
     .pswd input{
        width: 90%;
        height: 4vh;
        margin-top: -2%;
        border-radius: 8px;
        border-color: gray;
        padding-left: 4%;
        position: sticky;
     }
     .chbox{
        text-align: left;
        display: flex;
        position: relative;
        margin-left: -1%;
        position: sticky;
     }
     .chbox input{
        width: 6%;
        height: 4vh;
     }
     .chbox p{
        margin-top: 2.5%;
        margin-left: 1%;
        width: 50%;
    }
    .chbox a{
        margin-top: 3.3%;
        margin-left: 9%;
        text-decoration: none;
        color: #1b75bc;
    }
    .btn button{
        position: sticky;
        margin-left: 1%;
        margin-top: 4%;
        width: 95%;
        height: 4.5vh;
        text-align: center;
        border-radius: 8px;
        border: none;
        background-color: #1b75bc;
        color: white;
        font-size: large;
    }
    .brd{
        border: 1px solid;
        border-color: gray;
        margin-top: 10%;
        width: 65%;
        margin-left: 15.5%;
        
    }
    .border p{
        margin-top: -4.1%;
        margin-left: 30%;
        background-color: white;
        width: 35%;
        padding-left: 7px;
    }
    .image{
        display: flex;
        position: sticky;
    }
    .glebrd{
        border: 1px solid;
        width: 15%;
        height: 5vh;
        border-radius: 40px;
        margin-left: 6%;
        position: sticky;
    }
    .gle{
        width: 62%;
        margin-left: 17%;
        margin-top: 6%;
    }
    .fbbrd{
        border: 1px solid;
        width: 15%;
        height: 5vh;
        border-radius: 10px;
        margin-left: 12%;
        position: sticky;
    }
    .fbok{
        width: 73%;
        margin-left: 14%;
        margin-top: 8%;
    }
    .aplebrd{
        border: 1px solid;
        width: 15%;
        height: 5vh;
        border-radius: 10px;
        margin-left: 15%;
        position: sticky;
    }
    .aple{
        height: 4vh;
        width: 73%;
        margin-left: 14%;
        margin-top: 7%;
    }
    .signup{
        display: flex;
    }
    .signup p{
            font-size: small;
            margin-left: -15%;
            margin-top: 7%;
    }
    .signup a{
        text-decoration: none;
        color: #1b75bc;
        margin-top: 7.5%;
        margin-left: 1%;
        font-size: small;

    }

}